<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v2.0.50727"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="OpenCvSharp" publicKeyToken="6ADAD1E807FEA099" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-2.0.4380.35251" newVersion="2.0.4380.35251"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
